<!-- about me -->
<section class="about-me" id="about">
    <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h1>Who I Am</h1>
            <h2 class="page-subtitle">Kedar rhymes with "Cheddar"!</h2>
          </div>
        </div>

    <div class="row">
      <div class="portraits-container">
        <img class="col-md-4 hide-one portrait img-responsive center-block" src="../imgs/portrait-1.jpg"/>
        <img class="col-md-4 hide-two portrait img-responsive center-block" src="../imgs/portrait-2.jpg"/>
        <img class="col-md-4 portrait img-responsive center-block" src="../imgs/portrait-3.jpg"/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center bio">
        <p>Bacon ipsum dolor amet andouille pork chop fatback tenderloin jerky, beef alcatra porchetta turducken tail. Pork belly andouille jowl pancetta ball tip. Jowl pork loin cupim spare ribs, tenderloin chuck ball tip tail boudin leberkas cow shankle venison. Kielbasa jerky prosciutto spare ribs swine corned beef jowl.</p>
      </div>
    </div>
  </div>
</section>

<!-- What I'm Doing section -->

<section class="interests">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="line"></div>
        <h1>What I'm Doing</h1>
      </div>
    </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center interests-text">
      <p>Bacon ipsum dolor amet andouille pork chop fatback tenderloin jerky, beef alcatra porchetta turducken tail. Pork belly andouille jowl pancetta ball tip. Jowl pork loin cupim spare ribs, tenderloin chuck ball tip tail boudin leberkas cow shankle venison. Kielbasa jerky prosciutto spare ribs swine corned beef jowl.</p>
    </div>
  </div>

  <div class="icon-container">
      <div class="row">
        <div class="col-md-3 col-sm-6 icon-text">
          <div class="icons" id="center">
              <i class="fa fa-heart-o fa-4x"></i>
            <h4 class="text-uppercase">UX/UI</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 icon-text">
          <div class="icons" id="center">
            <i class="fa fa-code fa-4x"></i>
            <h4 class="text-uppercase">Development</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 icon-text">
          <div class="icons" id="center">
              <i class="fa fa-camera-retro fa-4x"></i>
            <h4 class="text-uppercase">Photography</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 icon-text">
          <div class="icons" id="center">
            <i class="fa fa-bicycle fa-4x"></i>
            <h4 class="text-uppercase">Bike Nerd</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
