
<section id="contact" class="contact-me page-style">
  <div class="container-fluid form-container">
    <div class="row">
      <div class="line"></div>
        <div class="col-lg-12 text-center">
            <h1>Contact</h1>
        </div>
    </div>
    <div class="row">
    <div class="col-md-12 contact-form">
      <form id="contact" class="form" role="form" action="//formspree.io/kedarjoyner@gmail.com"
            method="POST">
        <div class="row">
          <div class="col-xs-6 col-md-6 form-group">
            <input class="form-control input-style" id="name" name="name" placeholder="Name" type="text" required />
          </div>
          <div class="col-xs-6 col-md-6 form-group">
            <input class="form-control input-style" id="email" name="_replyto" placeholder="Email" type="email" required />
          </div>
        </div>
        <textarea class="form-control input-style text-area-style" id="message" name="message" placeholder="Hey Kedar! Let's be friends." rows="5"></textarea>
        <br />
        <div class="row">
          <div class="col-md-12 col-xs-12 form-group">
            <button class="btn btn-lg button-style button-style-form button-text" type="submit">Send</button>
          </div>
        </div>
      </form>
</section>
