
<!-- header starts -->
<header class="hero-img">

  <!-- nav starts -->
  <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle navbar-toggle-custom collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar top-bar"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-collapse-custom" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-nav-custom">
            <li><a href="#">About</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Photography</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <!-- nav ends -->

    <div class="header-content">
      <h1>{{ site.title }}</h1>
      <h2>Font-End Developer from Madison, Wisconsin</h2>
      <button type="button" class="btn btn-secondary btn-lg header-button-style header-button-text">View Portfolio</button>
    </div>
</header>
<!-- header ends -->
