.about-me {

  .page-subtitle {
    margin-bottom: 30px;
  }
  .portraits-container {
    padding: 0 50px;
  }
  .bio {
    margin-top: 40px;
  }
}

.interests {
      #center {
        text-align: center;
      }
      .header-style {
       margin-top: 30px;
       margin-bottom: 20px;
      }

      .interests-text {
        margin-bottom: 20px;
      }
    .icons-container {
      margin-top: 30px;
      padding: 0 80px;
    }
    .fa {
      color: $teal;
    }
    .icon-text {
      margin: 0 auto;
      margin-bottom: 50px;
      text-align: center;
    }
}

@media screen and (max-width: 992px) {
    .hide-one, .hide-two  {
      display: none;
      text-align: center;
    }
}
