.about-me {
  display: inline-block;
  .col-md-offset-custom {
    margin-left: 12.5%;
  }
}

.interests {
  .icon-container {
    margin-bottom: 2.5em;
  }
  .icon-padding {
    padding-top: 1.5em;
  }
}


@media screen and (max-width: 992px) {
    .hide-one, .hide-two  {
      display: none;
    }
}
