.contact-me {
  padding-top: 25px;

  .form-container {
    width: 80%;
  }
  .contact-form {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .input-style {
    border-radius: 0;
    -webkit-border-radius: 0;
      -moz-border-radius: 0;
    border: 1px solid $teal-lighter;

    &:focus {
      box-shadow: none;
      -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
  }
  .text-area-style {
    height: 10em;
  }
}

/* Small Devices, Tablets */
   @media only screen and (max-width : 768px) {
     .contact-me > .form-container {
       width: 95%;
     }

   }
