footer {
  color: $white;
  p {
    color: $white;
  }
}


.footer-above {
    background-color: $teal;
    padding: 30px;
    .social-text {
      margin-bottom: 20px;
      color: $white;
      font-size: 2em;
      font-weight: 400;
    }
    .social-container {
      padding: 10px;
    }
    .btn-social, .btn-outline {
        display: inline-block;
        width: 50px;
        height: 50px;
        color: $white;
        border: solid 2px $white;
        border-radius: 100%;
        text-align: center;
        font-size: 2em;
        line-height: 45px;
        background: 0 0;
        transition: all .3s ease-in-out;

        a > i {
          color: $white;
        }
          & i:hover {
            color: $teal-lighter;
        }
    }
    .btn-social:hover, .btn-outline:hover {
      border: 1px solid $teal-lighter;
      background: $white;
      color: $teal-lighter;
      background: #fff;
    }
}

  .footer-below {
    padding: 15px;
    background: $teal-darker;
    font-weight: 300;
    font-size: .6em;
  }
