// hero image styling //

.hero-img {
   color: $hero-font-color;
   background-image: $linear-gradient, url('/imgs/hero-img.jpg');
   background-size: cover;
   -webkit-background-size: cover;
    -moz-background-size: cover;
     -o-background-size: cover;
   height: 100vh;
   display: flex;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center center;
   .header-content {
     padding: 15em 0;
     margin: 0 auto;
     text-align: center;
      & > h1 {
        font-size: 6em;
        text-transform: none;
        color: $white;
      }
      & > h3 {
        font-size: 1.5em;
      }
   }
  .header-button-style {
    margin: 0 auto;
    display: block;
    max-width: 200px;
    width: 100%;
    margin-top: 35px;
    border-radius: 0;
    border: 4px solid $white;
    padding: 15px 0;
    transition-property: background;
    transition-duration: .2s;
    transition-timing-function: linear;
    background-color: transparent;
  }
  .header-button-text {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 400;
  }
  .header-button-style:hover {
      background-color: $white;
      color: $teal;
     }
}

// mobile size for text //
@media screen and (max-width: 570px) {
  .hero-img .header-content {
    & > h1 {
      font-size: 4.0em;
    }
    & > h3  {
    font-size: 1.2em;
    }
  }
}
