// hero image styling //

.hero-img {
   color: $hero-font-color;
   background-image: $linear-gradient-teal, url("{{ site.baseurl }}/imgs/hero-img.jpg");
   background-size: cover;
   -webkit-background-size: cover;
    -moz-background-size: cover;
     -o-background-size: cover;
   height: 100vh;
   display: flex;
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-position: center center;
   .header-content {
     padding: 15em 0;
     margin: 0 auto;
     text-align: center;
      & > h1 {
        font-size: 6em;
        text-transform: none;
        color: $white;
        //margin-bottom: 0;
      }
      & > h2 {
        margin-top: 0;
      }
   }
}

// mobile size for text //
@media screen and (max-width: 570px) {
  .hero-img .header-content {
    & > h1 {
      font-size: 3.6em;
    }
    & > h2 {
    font-size: 1em;
    }
  }
}
