// #portfolio {
//
//   .custom-panel-heading {
//     background-image: url("")
//   }
//
// }

.portfolio-panels {
  margin-top: 20px;

  .panel-style {
    border: none;
  }
  .no-border {
    border-radius: 0;
  }
}
