//
// Variables
// --------------------------------------------------

//== Colors
//
$teal: #339977;
$teal-darker: #164132;
$teal-lighter: #72d0b1;
$black: #000;
$light-black: #3F3F3F;
$light-grey: #f6f6f6;
$white: #FFF;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:700,600);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

// Gobal text color and font-family for <body> copy
$text-color: $light-black;
$font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif !default;
$font-base-weight: 300;

// Global link color

$link-color: $teal;
$link-color-hover: $teal-lighter;

// header font-family and colors
$headings-font-family: "Josefin Slab", serif;
$heading-color: $teal;
$header-base-weight: 700;
$header-base-size: 3.5em;
$header-subtitle-weight: 600;
$header-two-weight: 400;


// Hero font colors

$hero-font-color: $white;

//== Images

$linear-gradient-teal: linear-gradient(rgba(51, 153, 119, .9), rgba(51, 153, 119, 0.8));
$linear-gradient-black: linear-gradient(rgba(42, 42, 42, .9), rgba(42, 42, 42, 0.8));

// new sections
$section-margin-top: 30px;

// new pages
$page-background-grey: $light-grey;
$page-height: auto;
$page-width: 100%;
