//
// Variables
// --------------------------------------------------

//== Colors
//
$teal: #339977;
$teal-darker: #297c60;
$teal-lighter: #72d0b1;
$black: #000;
$light-black: #2a2a2a;
$light-grey: #f6f6f6;
$white: #FFF;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:700,600);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

// Gobal text color and font-family for <body> copy
$text-color: $light-black;
$font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif !default;
$font-base-weight: 300;

// Global link color

$link-color: $teal;
$link-color-hover: $teal-lighter;

// header font-family and colors
$headings-font-family: "Josefin Slab", serif;
$heading-color: $teal;
$header-base-weight: 700;
$header-base-size: 3.5em;
$header-one-margin-bottom: 10px;
$header-one-margin-top: 60px;
$header-margin-top-adjust: 40px;
$header-margin-bottom-adjust: 20px;
$header-subtitle-margin-bottom: 40px;
$header-subtitle-weight: 600;


// Hero font colors

$hero-font-color: $white;

//== Images

$linear-gradient: linear-gradient(rgba(51, 153, 119, .9), rgba(51, 153, 119, 0.8));
