.about-me {
  margin-top: $section-margin-top;

  .page-subtitle {
    margin-bottom: 40px;
  }
  .portraits-container {
    padding: 0 60px;
  }
  .bio {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

.interests {
  height: auto;
  background-color: $light-grey;

      #center {
        text-align: center;
      }
      .interests-text {
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .line {
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 40px;
        width: 80px;
        height: 4px;
        background-color: $teal;
      }
    .icon-container {
      margin-top: 30px;
      padding: 0 80px;
    }
    .fa {
      color: $teal;
    }
    .icon-text {
      margin: 0 auto;
      margin-bottom: 50px;
      text-align: center;
    }
}

@media screen and (max-width: 992px) {
    .hide-one, .hide-two  {
      display: none;
      text-align: center;
    }
}


// .about-me {
//   // look-up retina media-query
//     .img-container {
//       min-width: 206px;
//       min-height: 206px;
//       background-size: cover;
//       background-repeat: no-repeat;
//       background-position: 50% 50%;
//       margin-bottom: 5px;
//     }
//     .portrait-1 {
//       background-image: url("../imgs/portrait-2.jpg");
//     }
//     .portrait-2 {
//       background-image: url("../imgs/portrait-1.jpg");
//     }
//     .portrait-3 {
//       background-image: url("../imgs/portrait-3.jpg");
//     }
//   }
