.posts-page {
  margin-top: 150px;
  margin-bottom: 80px;

  .page-title {
    margin-bottom: 40px;
  }

  .portfolio-images {
    margin-bottom: 40px;
    height: 568px;
    width: 787;
  }
  a {
    color: $teal;
    font-size: 1.2em;
    cursor: pointer;
  }
  .go-back {
    margin-bottom: 20px;
  }
}
