<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

{% include nav.html %}

    <section class="posts-page">
          <div class="container-fluid">

            <div class="row">
              <a class="col-md-12 col-lg-12 col-xs-12 text-center go-back" onclick="goBack()">
                <span><i class="fa fa-angle-double-left"></i></span>
                Go Back
              </a>
            </div>

            <h1 class="text-center page-title">{{ page.title }}</h1>

            <div class="row">
              {% if page.one %}
                <img class="col-md-8 col-md-offset-2 portfolio-images img-responsive" src="{{ site.baseurl }}/imgs/portfolio-page/{{ page.one }}" alt="{{ page.alt }}">
              {% else %}
                <img class="col-md-4 col-md-offset-2 portfolio-images img-responsive" src="{{ site.baseurl }}/imgs/portfolio-page/{{ page.img1 }}" alt="{{ page.alt }}">
                <img class="col-md-4 portfolio-images img-responsive" src="{{ site.baseurl }}/imgs/portfolio-page/{{ page.img2 }}" alt="{{ page.alt }}">
                <img class="col-md-4 col-md-offset-2 portfolio-images img-responsive" src="{{ site.baseurl }}/imgs/portfolio-page/{{ page.img3 }}" alt="{{ page.alt }}">
                <img class="col-md-4 portfolio-images img-responsive" src="{{ site.baseurl }}/imgs/portfolio-page/{{ page.img4 }}" alt="{{ page.alt }}">
            </div>
          </div>
            {% endif %}
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h5 class="text-uppercase">Overview:</h5>
                <p>{{ page.overview }}</p>

                <h5 class="text-uppercase">Challenges:</h5>
                <p>{{ page.challenges }}</p>

                <h5 class="text-uppercase">Frameworks Used:</h5>
                <p class>{{ page.frameworks }}</p>
              </div>
            </div>

          {% if page.button  %}
          <div class="row block-padding">
            <div class="col-md-12">
              <a href="{{ page.site }}" target="_blank">
                <button type="button" class="btn btn-lg button-style button-style-form button-text">
                    View
                  {% if page.button  %}
                    <!-- if page.button exists output page.button otherwise say project -->
                    {{ page.button }}

                  {% else %}
                    <!-- project could change depending on md file variable -->
                    Project
                  {% endif %}
                </button>
              </a>
          </div>
        </div>
          {% endif %}
      </div>
  </section>


{% include footer.html %}
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery-ui.min.js"></script>
<script src="{{ site.baseurl }}/js/app.js"></script>
  </body>
</html>
